/*body{
 background-color: gold;
}
*/
#cv-template{

    display: none;

}
#cv-form{
    background-color: gold;

   /* display: none;  */ 
}
.myimg{
    /*border: 1px solid goldenrod;*/
    border-radius: 50%;
    width: 200px;

}

.background{
    background-color: bisque;
}